#square {
  width: 500px;
  height: 500px;
  background: #050538;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  -moz-box-shadow: 0 0 30px rgb(0, 60, 255);
  -webkit-box-shadow: 0 0 30px rgb(0, 60, 255);
  box-shadow: 0 0 30px rgb(0, 60, 255);
}
#player {
  border-radius: 40px;
  background: rgb(0, 0, 0);
  width: 300px;
  height: 100px;
  position: relative;
  top: 142px;
  left: 100px;
  color: white;
  font-size: 25px;
  font-stretch: extra-expanded;
  font-weight: bolder;
  -moz-box-shadow: 0 0 30px rgb(0, 60, 255);
  -webkit-box-shadow: 0 0 30px rgb(0, 60, 255);
  box-shadow: 0 0 30px rgb(0, 60, 255);

  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
  -ms-transition: All 0.3s ease;
  transition: All 0.3s ease;
  border: none;
  outline: none;
}

#player:hover {
  background-color: rgb(0, 60, 255);
}
